<!-- Modal contact -->
<dialog class="modal__contact justify-content-center align-items-center flex-column rounded-4 text-center" id="modal__contact">
  <div class="icon__modal__contact">
    <i class="fa-solid fa-check"></i>
  </div>
  <div class="modal__contact__header">
    <h1 class="fs-2 fw-bold ">Message envoyé</h1>
  </div>
  <div class="modal__contact__body d-flex flex-column align-items-center text-wrap m-auto p-auto">
    <p class="">Votre message a bien été envoyé. Nous vous recontacterons dans un délai de 48 heures maximum.<br>Un email récapitulatif de votre demande à été envoyé à l'adresse que vous nous avez communiqué.</p>
  </div>
  <div class="modal__contact__footer">
    <button class="modal__contact__footer__button fw-semibold  text-white border-0 rounded-pill px-4 py-2 fs-6  mb-2" id="close__modal__contact">Fermer</button>
  </div>
</dialog>